server {
    listen 80;

    # redirecting to the listen-AUTH microservice
    location /auth/ {
        proxy_pass http://${auth}:${AUTH_PORT}/auth/;
    }

    # redirecting to the listen-API microservice
    location /api/ {
        proxy_pass http://${api}:${API_PORT}/api/;
    }
}